<template>
  <div class="home">
    <div class="container">
      <div class="logo">
        <img alt="Ink360" :src="logo">
      </div>

      <div class="write-us" @click="toggleContactForm"><div>Write Us</div></div>

      <div class="contact-info d-flex">
        <div class="contact-column mx-5">
          <h6>Tel</h6>
          <p>
            <a href="tel:+842973978888">+84 297 3978 888</a>
          </p>
        </div>

        <div class="contact-column mx-5">
          <h6>Email</h6>
          <p>
            <a href="mailto:reservation.icpq@ihg.com">reservation.icpq@ihg.com</a>
          </p>
        </div>

        <div class="contact-column mx-5">
          <h6>Address</h6>
          <p>Bãi Trường, Dương Tơ, Đảo Phú Quốc, tỉnh Kien Giang 920000
            <br>Vietnam
          </p>
        </div>
      </div>

      <div class="social-channels">
        <span>Follow Us</span>
        <a
          href="https://www.instagram.com/ink360phuquoc"
          target="_blank"
          rel="noopener noreferrer"
          style="margin: 0 10px; display: inline-block;"
        >
          <img :src="instagram">
        </a>
        <a href="https://www.facebook.com/INK360" target="_blank" rel="noopener noreferrer">
          <img :src="facebook">
        </a>
      </div>
    </div>
    <transition name="fade">
      <ContactFormPopup v-if="showPopup" @close="sendEmail"/>
    </transition>
  </div>
</template>

<script>
import ContactFormPopup from "@/components/ContactFormPopup";
import * as axios from "axios";
import logo from "@/assets/logo.png";
import instagram from "@/assets/instagram.png";
import facebook from "@/assets/facebook.png";

export default {
  name: "home",
  components: {
    ContactFormPopup
  },
  data() {
    return {
      logo,
      instagram,
      facebook,
      showPopup: false
    };
  },
  methods: {
    toggleContactForm() {
      this.showPopup = !this.showPopup;
    },
    sendEmail(data) {
      this.showPopup = false;

      axios
        .post("/.netlify/functions/sendmail", data)
        .then(() => {
          console.log("success");
        })
        .catch(console.error);
    }
  }
};
</script>


<style lang="scss" scoped>
body {
   top: 100px;
   overflow: scroll;
   
   
}
.home {
   margin: 100px auto; 
  /* position: relative;*/
  justify-content: center;
    
    width: 100%;
    height: 100%;
    text-align: center;
    
  /*
  margin: 100px auto 0;
  text-align: center;
  */
   

  .logo {
   
    width: 360px;
    margin: 0 auto;
    

    img {
      display: block;
      width: 100%;
      padding-top: 100px;
    }
  }

  .write-us {
    /*border: 2px solid #fff;
    padding: 20px 50px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    margin: 80px auto;
    display: inline-block;
    transition: 0.3s ease all;
    user-select: none;

    &:hover {
      background-color: #fff;
      color: #212121;
    }
    */
  }

  .write-us>div {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 200;
   
    border: 0.5px solid #fff;
    padding: 5px 5px;     
    width: 280px;
    height: 60px;
    margin: 80px auto;
    text-align: center;

     &:hover {
      background-color: #fff;
      color: #212121;
    }
  }
  



  .contact-info {
    flex-direction: column;
    align-items: center;
    .contact-column {
      margin-top: 30px;
      width: 30%;
    }

    h6 {
      font-size: 1.0 rem;
      font-weight: 300;
      margin: 0 auto 1.5rem;
      font-style: normal;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .social-channels {
    margin-bottom: 50px;

    span {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .home {
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    .contact-info {
      flex-direction: row;
      align-items: flex-start;

      .contact-column {
        width: calc(33% - 3rem);
        margin: 0 auto;
      }
    }
  }
}
</style>
