<template>
  <div class="home">
    <div class="container">
      <div class="logo">
        <img alt="Ink360" :src="logo360">
      </div>
      <div class="top_left">
        <img alt="topleft" :src="top_left">
      </div>
      <div class="buttom_right">
        <img alt="buttomright" :src="buttom_right">
      </div>
      
      <div class="header360">
        <img alt="Header 360" :src="header360">
      </div>
      
     <div class="social-channels">
        <a href="https://www.facebook.com/INK360" target="_blank" rel="noopener noreferrer">
          <img :src="facebook360">
        </a>
        <a
          href="https://www.instagram.com/ink360phuquoc"
          target="_blank"
          rel="noopener noreferrer"
          style="margin: 0 10px; display: inline-block;"
        >
        <img :src="instragram360">
        </a>

        <a href="https://www.facebook.com/INK360" target="_blank" rel="noopener noreferrer">
          <img :src="tripadvisor360">
        </a>
    </div>

       <!--column mobile-->
            <!--div class='some-page-wrapper'>
        <div class='row'>
            <div class='column'>
            <div class='green-column'>
               <img  alt="ink360bar_fr" :src="ink360bar_fr">
            </div>
            </div>
            <div class='column'>
            <div class='blue-column'>
                <img  alt="ink360bar_fr" :src="ink360bar_fr">
            </div>
            </div>
                <div class='column'>
            <div class='orange-column'>
                <img  alt="ink360bar_fr" :src="ink360bar_fr">
            </div>
            </div>
        </div>
        </div-->
       <!--end column mobile-->     
 

      <div class="contact-info">
        <!--div class="contact-column mx-5">
         
          <p-->
               <div class="child ">
               <img  alt="ink360bar_fr" :src="ink360bar_fr">
               </div>
          <!--/p>
        </div-->

        <!--div class="contact-column mx-5">
  
          <p-->
             <div class="child ">
             <img alt="ink360bar_sd" :src="ink360bar_sd"> 
             </div>
          <!--/p>
        </div-->

        <!--div class="contact-column mx-5">
         
          <p-->
              <div class="child ">         
              <img alt="ink360bar_th" :src="ink360bar_th">
              </div>
          <!--/p>
        </div-->
      </div>

      <div class="social-channels">
         <a
          href="https://www.instagram.com/ink360phuquoc"
          target="_blank"
          rel="noopener noreferrer"
          style="margin: 0 10px; display: inline-block;"
        >
          <img :src="instagram">
        </a>
        <a href="https://www.facebook.com/INK360" target="_blank" rel="noopener noreferrer">
          <img :src="facebook">
        </a>
      </div>


    <div class="write-us" @click="toggleContactForm"><div>Contact us</div></div>



    <div class="footer360">
        <img alt="Footer 360" :src="footer360">
    </div>

    </div>
    <transition name="fade">
      <ContactFormPopup v-if="showPopup" @close="sendEmail"/>
    </transition>
  </div>
</template>

<script>
import ContactFormPopup from "@/components/ContactFormPopup";
import * as axios from "axios";
import logo360 from "@/assets/logo_ink360.png";
import instragram360 from "@/assets/instragram360.png";
import facebook360 from "@/assets/facebook360.png";
import tripadvisor360 from "@/assets/tripadvisor360.png";
import ink360bar_fr from "@/assets/ink360bar_fr.png";
import ink360bar_sd from "@/assets/ink360bar_sd.png";
import ink360bar_th from "@/assets/ink360bar_th.png";
import top_left from "@/assets/top_left.png";
import buttom_right from "@/assets/buttom_right.png";
import header360 from "@/assets/header360.png";
import footer360 from "@/assets/footer360.png";

export default {
  name: "home",
  components: {
    ContactFormPopup
  },
  data() {
    return {
     logo360,
      tripadvisor360,
      facebook360,
      instragram360,
      ink360bar_fr,
      ink360bar_sd,
      ink360bar_th,
      top_left,
      buttom_right,
      header360,
      footer360,
      showPopup: false
    };
  },
  methods: {
    toggleContactForm() {
      this.showPopup = !this.showPopup;
    },
    sendEmail(data) {
      this.showPopup = false;

      axios
        .post("/.netlify/functions/sendmail", data)
        .then(() => {
          console.log("success");
        })
        .catch(console.error);
    }
  }
};
</script>


<style lang="scss" scoped>
/*
* {
  box-sizing: border-box;
}*/

.home {
    margin: 100 auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
       

  .logo {

    img {
      display: block;
      padding-top: 100px;
      margin:auto auto;
     } 
  }

  .header360{

      img{
      margin: 0px auto;
      display: block;
      padding-top: 70px;
       
      }
  }
  .footer360{

     img{
      margin: 0px auto;
      display: inline-block;
      width: 100%;
         
      }
  }

  .top_left{
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    margin-left: -100px; /* Half the width of your image. IE6 will double this measure because it is floated. */
    margin-top: -40px; /* Half the height of your image. IE6 will double this measure because it is floated. */
   }

   .buttom_right{
    position: fixed;
    bottom: 0;
    right: 0; 
   }

   .write-us>div {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 200;
   
    border: 0.5px solid #fff;
    padding: 5px 5px;
    width: 280px;
    height: 60px;
    margin: 80px auto;
    text-align: center;

     &:hover {
      background-color: #fff;
      color: #212121;
    }
  }


    .social-channels {
        margin-top: 40px;
        margin-bottom: 50px;

        span {
        font-size: 1.5rem;
        }
        
    }


    .contact-info {
    /*
    width: 140%;
    margin: 1% auto 1%;
    margin-left: -230px;
    */
    /*
    margin-left: -140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items:stretch;
    justify-content:flex-start;
    flex-wrap:nowrap;
    width: 140%;
    margin-left: -220px;
    /*
        display:flex;
        
        flex-direction:row;
        justify-content:flex-start;
        align-items:stretch;
    */
    img {
        padding: 2% 1% 0px 1%;
        /*height: 90%; */
        width: 100%;
        }
    
  }

}


@media (max-width: 767px) {
    /* CSS goes here */
   .home {
    margin: 0 auto;
    position: absolute;
    float: left;
   
    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: auto;
      flex: 1 1 1;
      img {
        margin-left: 220px;
        width: 210%;
        }
            }
     .child {
        width: 33.9%;
      }
   .top_left{    
    display: none;
    }

    .buttom_right{
    display: none;
     }

    .header360{
    display: none;
     }
  }
}


/* Mobile *//* Column layout *//* Unset previous 200px *//* Move to the end */
/*
@media screen and (max-width: 600px) { 
  body {
    flex-direction: column; 
  }
  #left, #right {
    flex-basis: auto;       
  }
  #middle {
    order: 1;               
  }
}

*/









 
  /* For Tablets */
/* Add a breakpoint at max-width: 1000px */
/*
@media (max-width: 1000px) {
  .item {
    width: 50%;
  }
}
*/

/* For Smartphones */
/* Add a breakpoint at max-width: 670px */
/*
@media (max-width: 670px) {
  .item {
    width: 100%;
  }
}
*/













/*
@media screen and (min-width: 992px) {
    
  .home {
      
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    .contact-info {
      width: 10%;
      
    img {
        display: flex;
  justify-content: center;
      }
    }


   .top_left{
    
    top: 0px;
    left: 0px;
    float: left;  
    }


    .footer360{

     img{
      margin: 0px auto;
      display: inline-block;   
      width: 100%;
         
      }
  }
  } 
  
}
*/
</style>
