<template>
  <div class="contact-form-popup">
    <div class="contact-form-popup-inner">
      <form @submit.prevent="send()">
        <h3>Talk to us!</h3>
        <div class="form-group row">
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              v-model="firstName"
              placeholder="First Name"
              required
            >
          </div>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              v-model="lastName"
              placeholder="Last Name"
              required
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <input type="email" class="form-control" v-model="email" placeholder="E-mail" required>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" v-model="phone" placeholder="Phone">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8">
            <textarea rows="10" class="form-control" v-model="message"></textarea>
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContactFormPopup",
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      phone: "",
      message: ""
    };
  },
  methods: {
    send() {
      if (
        this.firstName &&
        this.lastName &&
        this.email &&
        this.phone &&
        this.message
      ) {
        const data = {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          phone: this.phone,
          message: this.message
        };
        this.$emit("close", data);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.contact-form-popup {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  background-color: #212121;
  padding: 50px;
  width: 100vw;

  input[type="submit"] {
    border: 1px solid #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #212121;
    outline: none;
  }

  input,
  textarea {
    color: #fff;
    background-color: #212121;
    border-radius: 0;
  }

  @media screen and (min-width: 992px) {
    width: 992px;
  }
}
</style>