<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
 }
body {
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease all;
}

.fade-enter,
.fade-leave {
  opacity: 0;
}
</style>
